body {
  margin: 0;
  background-color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#yourMessage {
  padding-bottom: 5vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#messages {
  font-size: 3vw;
  align-self: flex-start;
  padding-left: 10vw;
  list-style-type: none;
  width: 90%;
}
li {
  color: rgb(170, 165, 190);
  padding-left: 2rem;
  max-width: 80%;
  font-size: 3vw;
}


#textbox {
  width: 80%;
  background-color: #555555;
  margin: 1vw;
  font-size: 2vw;
  /* border: 0; */
  outline: 0;
  color: rgb(156, 153, 167);
}
#sendButton {
  width: 2.5vw;
  height: 2.5vw;
  background-image: url("../send_icon.png");
  background-size: contain;
  background-color: #41414100;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.highlight {
  /*color: rgba(234, 73, 255, 0.53);*/
  font-weight: bold;
}

#nameOfMess {
  position: absolute;
  top: 2vh;
  color: rgb(118, 106, 106);
  font-size: 5vw;
}

@media (max-width: 590px) {
  #yourMessage {
    padding-bottom: 10vh;
  }
  #textbox {
    font-size: 5vw;
  }
  #sendButton {
    width: 5vw;
    height: 5vw;
  }
  li {
    font-size: 6vw;
  }
}
